@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #0000; 
}

::-webkit-scrollbar-thumb {
    background: #252525;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777; 
}

* {
    scrollbar-width: thin;
    scrollbar-color: #2f2f2f #000000;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to right, #343434, #080808, #000000);
}



h1
{
    font-size: 40px;
}
h2
{
    font-size: 32px;
}
h3
{
    font-size: 24px;
}
h4
{
    font-size: 20px;
}
h5
{
    font-size: 16px;
}


@layer components {
    .nav {
        background: linear-gradient(to left, #000000, #232323);
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }

    .navkecil {
        width: 100%;
        background: linear-gradient(to left, #000000, #232323);
    }
    .land1 {
        width: 100%;
        height: 100vh;
        background-size: contain; 
        background-repeat: no-repeat;
        background-position: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}